:root {
  /* Основні шрифти */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Світла сторона тексту*/
  --accent-txt-cl: #4d5ae5;
  --primary-light-txt: #ffffff;
  --secondary-light-txt: #e7e9fc;
  --third-light-txt: #f4f4fd;
  --placeholder-light-txt: rgba(255, 255, 255, 0.6);

  /* Темна сторона тексту*/
  --main-dark-txt: #000000;
  --primary-dark-txt: #2e2f42;
  --secondary-dark-txt: #434455;
  --third-dark-txt: #757575;
  --placeholder-dark-txt: rgba(117, 117, 117, 0.5);

  /* Світла сторона фону */
  --accent-bg: #4d5ae5;
  --second-accent-bg: #404bbf;
  --third-accent-bg: #31d0aa;
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f4f4fd;
  --third-light-bg: #e7e9fc;
  --forth-light-bg: #8e8f99;
  --modal-light-bg: #fcfcfc;

  /* Темна сторона фону */
  --primary-dark-bg: #2e2f42;
  --secondary-dark-bg: rgba(255, 255, 255, 0.1);
  --third-dark-bg: rgba(46, 47, 66, 0.7);
  --over-dark-bg: rgba(46, 47, 66, 0.4);
  --form-dark-bg: rgba(33, 33, 33, 0.2);
  --footer-input-dark-bg: rgba(255, 255, 255, 0.3);

  /* Анімація */
  --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  background-color: var(--primary-light-bg);
  color: var(--primary-dark-txt);
}

/* Утиліти */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Media for container*/
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
/* Media for background-image */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--third-dark-bg),
        var(--third-dark-bg)
      ),
      url(../images/bg-picture/office-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--third-dark-bg),
        var(--third-dark-bg)
      ),
      url(../images/bg-picture/office-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        var(--third-dark-bg),
        var(--third-dark-bg)
      ),
      url(../images/bg-picture/office-desktop@2x.jpg);
  }
}

/* Media for mobile-menu */
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .contacts-list {
    display: none;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .icon-menu {
    fill: var(--primary-dark-bg);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--primary-light-bg);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-fun),
      visibility var(--transition-dur-and-fun);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 18px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--third-light-bg);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color var(--transition-dur-and-fun);
  }

  .mobile-menu-close-icon {
    transition: fill var(--transition-dur-and-fun);
  }

  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    border-color: var(--accent-bg);
  }

  .mobile-menu-close:hover .mobile-menu-close-icon,
  .mobile-menu-close:focus .mobile-menu-close-icon {
    fill: var(--accent-bg);
  }

  .mobile-page-link-current,
  .mobile-page-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: inherit;
    text-transform: capitalize;
    transition: color var(--transition-dur-and-fun);
  }

  .mobile-page-item {
    margin-bottom: 40px;
  }

  .mobile-page-item:last-child {
    margin-bottom: 0;
  }

  .mobile-page-link:hover,
  .mobile-page-link:focus {
    color: var(--accent-txt-cl);
  }

  .mobile-page-link-current {
    color: var(--accent-txt-cl);
  }
  .mobile-contacts-phone {
    margin-bottom: 40px;
  }

  .mobile-contacts-mail {
    margin-bottom: 48px;
  }

  .mobile-contacts-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-dark-txt);
    transition: color var(--transition-dur-and-fun);
  }

  .mobile-contacts-link:hover,
  .mobile-contacts-link:focus {
    color: var(--accent-txt-cl);
  }

  .mobile-contacts-current {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--accent-txt-cl);
  }

  .mobile-social-list {
    display: flex;
    align-items: center;
  }

  .mobile-social-item:not(:last-child) {
    margin-right: 56px;
  }

  .mobile-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-bg);
    transition: background-color var(--transition-dur-and-fun);
  }

  .mobile-social-link:hover,
  .mobile-social-link:focus {
    background-color: var(--second-accent-bg);
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--primary-light-bg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 77px;
  text-transform: uppercase;
  color: inherit;
}

.logo-item {
  color: var(--accent-txt-cl);
}

/* Hero-mobile */
.hero {
  max-width: 428px;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 109px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background-color: var(--primary-dark-bg);
  background-image: linear-gradient(
      to bottom,
      var(--third-dark-bg),
      var(--third-dark-bg)
    ),
    url(../images/bg-picture/office-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
}

.hero-button {
  font-family: inherit;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  cursor: pointer;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-light-txt);
  background-color: var(--accent-bg);
  border: none;
  transition: background-color var(--transition-dur-and-fun);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-accent-bg);
}

/* Features-mobile */
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-item {
  max-width: 396px;
  margin-bottom: 72px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.feature-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-descrp {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
}

.feature-wrapper {
  display: none;
}
/* Work-mobile */
.work {
  display: none;
}
/* Team-mobile */
.team {
  background-color: var(--secondary-light-bg);
}

.team-title {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member {
  margin-bottom: 72px;
}

.team-member:last-child {
  margin-bottom: 0;
}

.team-wrapper {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--primary-light-bg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-dev {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
  margin-bottom: 8px;
}

/* Social-mobile */
.social-list {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-bg);
  transition: background-color var(--transition-dur-and-fun);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--second-accent-bg);
}

/* Customers-mobile */
.customers-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item {
  margin-right: 16px;
  margin-bottom: 72px;
}
.customers-item:nth-child(2n) {
  margin-right: 0;
}
.customers-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid var(--forth-light-bg);
  border-radius: 4px;
  transition: border var(--transition-dur-and-fun);
}

.customers-icon {
  fill: var(--forth-light-bg);
  transition: fill var(--transition-dur-and-fun);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--accent-bg);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-bg);
}

/* Footer-mobile */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--primary-dark-bg);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wrapper {
  margin-bottom: 72px;
}

.footer-thumb {
  margin-bottom: 72px;
}

.footer-link {
  display: block;
  font-family: var(--secondary-font);
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--third-light-txt);
}

.footer-logo {
  color: var(--accent-txt-cl);
}

.footer-descrp {
  max-width: 268px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-light-txt);
}

.footer-social {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-dark-bg);
  transition: background-color var(--transition-dur-and-fun);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--third-accent-bg);
}

/* Footer-mobile-form */
.footer-slogan {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
}

.footer-form-input {
  width: 396px;
  height: 40px;
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 16px;
  border: 1px solid var(--footer-input-dark-bg);
  background-color: transparent;
  color: var(--primary-light-txt);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-fun);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--placeholder-light-txt);
  transition: color var(--transition-dur-and-fun);
}

.footer-form-input:focus {
  border-color: inherit;
}

.footer-form-input:focus::placeholder {
  color: var(--primary-light-txt);
}

.footer-form-btn {
  max-width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-fun);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--second-accent-bg);
}

.footer-form-icon {
  margin-left: 16px;
}

/* Portfolio-mobile */
.portfolio.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  max-width: 311px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.filter-item {
  margin-right: 24px;
  margin-bottom: 16px;
}
.filter-item:nth-child(3) {
  margin-right: 0;
}
.filter-item:nth-child(5) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.filter-btn-current,
.filter-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 16px;
  background-color: var(--secondary-light-bg);
  color: var(--accent-txt-cl);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-fun),
    color var(--transition-dur-and-fun),
    box-shadow var(--transition-dur-and-fun),
    border-color var(--transition-dur-and-fun);
}
.filter-btn-current {
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-item {
  margin-bottom: 48px;
  transition: box-shadow var(--transition-dur-and-fun);
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 68px 144px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-fun);
  background-color: var(--accent-bg);
  color: var(--third-light-txt);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 0.5px solid var(--secondary-light-bg);
  border-top: none;
}
.portfolio-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-dark-txt);
}
.portfolio-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-txt);
}

/* Modal */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--over-dark-bg);
  transition: opacity var(--transition-dur-and-fun),
    visibility var(--transition-dur-and-fun);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 576px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: var(--modal-light-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--third-light-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition-dur-and-fun);
}

.modal-btn-icon {
  transition: fill var(--transition-dur-and-fun);
}

.modal-btn:hover,
.modal-btn:focus {
  border-color: var(--accent-bg);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--accent-bg);
}

/* Modal-form */
.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-slogan {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-dark-bg);
  margin-bottom: 16px;
}

.modal-form-input-descr {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--forth-light-bg);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-dark-bg);
  border-radius: 4px;
  padding-left: 40px;
  transition: outline var(--transition-dur-and-fun);
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--primary-dark-bg);
  transition: fill var(--transition-dur-and-fun);
}

.modal-form-input:focus {
  outline: 1px solid var(--accent-bg);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-bg);
}

.modal-form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid var(--form-dark-bg);
  border-radius: 4px;
  transition: outline var(--transition-dur-and-fun);
}

.modal-form-textarea:focus {
  outline: 1px solid var(--accent-bg);
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-dark-txt);
  transition: color var(--transition-dur-and-fun);
}

.modal-form-textarea:focus::placeholder {
  color: var(--primary-dark-txt);
}

.modal-form-check-label {
  display: flex;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--third-dark-txt);
}

.modal-form-check-label::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border: 1.25px solid var(--primary-dark-bg);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check-input:checked + .modal-form-check-label::before {
  background-color: var(--accent-bg);
  border-color: var(--accent-bg);
  border-radius: 2px;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-link {
  color: var(--accent-txt-cl);
}

.modal-form-btn {
  width: 170px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--accent-bg);
  color: var(--primary-light-txt);
  border: none;
  transition: background-color var(--transition-dur-and-fun);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--second-accent-bg);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-container {
    align-items: baseline;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .logo-link {
    margin-right: 121px;
  }

  .tablet-current,
  .nav-link {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 22px;
    color: inherit;
    transition: color var(--transition-dur-and-fun);
  }

  .tablet-current {
    color: var(--accent-txt-cl);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-txt-cl);
  }

  .third-current::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bg);
    border-radius: 2px;
  }

  .nav-item {
    margin-right: 40px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .contact-mail,
  .contact-phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--secondary-dark-txt);
    transition: color var(--transition-dur-and-fun);
  }

  .contact-mail:hover,
  .contact-mail:focus {
    color: var(--accent-txt-cl);
  }

  .contact-phone:hover,
  .contact-phone:focus {
    color: var(--accent-txt-cl);
  }

  .hero {
    max-width: 768px;
    height: 435px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        var(--third-dark-bg),
        var(--third-dark-bg)
      ),
      url(../images/bg-picture/office-tablet.jpg);
  }

  .hero-title {
    max-width: 500px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-item {
    max-width: 347px;
    margin-right: 24px;
  }

  .features-item:nth-child(2n) {
    margin-right: 0;
  }

  .features-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-member {
    margin-right: 24px;
    margin-bottom: 56px;
  }

  .team-member:nth-child(2n) {
    margin-right: 0;
  }

  .team-member:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .customers-list {
    justify-content: center;
  }

  .customers-item {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .customers-item:nth-child(2n) {
    margin-right: 24px;
  }
  .customers-item:nth-child(3n) {
    margin-right: 0;
  }

  .customers-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .customers-link {
    width: 168px;
  }

  .footer-container {
    width: 580px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .footer-wrapper {
    margin-right: 24px;
  }

  .footer-thumb {
    margin-bottom: 0;
  }

  .footer-link {
    text-align: start;
  }

  .footer-descrp {
    max-width: 264px;
  }

  .footer-social {
    text-align: start;
  }

  .footer-form {
    display: flex;
    align-items: baseline;
  }

  .footer-slogan {
    text-align: start;
  }

  .footer-form-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .portfolio.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filter-list {
    max-width: 586px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }
  .filter-item {
    margin-bottom: 0;
  }
  .filter-item:nth-child(3) {
    margin-right: 24px;
  }
  .filter-item:nth-child(5) {
    margin-right: 0;
  }
  .filter-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .filter-btn-current,
  .filter-btn {
    padding: 8px 16px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .portfolio-item {
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .portfolio-item:nth-child(2n) {
    margin-right: 0;
  }

  .portfolio-item:nth-child(5) {
    max-width: 356px;
  }
  .portfolio-item:nth-child(9) {
    margin-right: 0;
  }
  .portfolio-overlay {
    padding: 40px 28px 164px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    align-items: center;
  }

  .contacts-list {
    flex-direction: row;
    margin-left: auto;
  }

  .contacts-item:not(:last-child) {
    margin-right: 40px;
  }

  .logo-link {
    margin-right: 77px;
  }

  .desktop-current {
    position: relative;
    color: var(--accent-txt-cl);
  }

  .first-current::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bg);
    border-radius: 2px;
  }

  .second-current::after {
    content: " ";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bg);
    border-radius: 2px;
  }
  .tablet-current {
    color: inherit;
  }

  .third-current::after {
    display: none;
  }

  .contact-mail,
  .contact-phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        var(--third-dark-bg),
        var(--third-dark-bg)
      ),
      url(../images/bg-picture/office-desktop.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-container {
    flex-direction: row;
  }

  .features-list {
    flex-wrap: nowrap;
  }

  .features-item {
    max-width: 264px;
    margin-bottom: 0;
  }

  .features-item:nth-child(2n) {
    margin-right: 24px;
  }

  .features-item:last-child {
    margin-right: 0;
  }

  .feature-title {
    text-align: start;
    font-size: 20px;
    line-height: 1.2;
  }
  .features.section {
    padding-bottom: 0;
  }

  .feature-wrapper {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: var(--secondary-light-bg);
    border-radius: 4px;
  }

  .work {
    display: inherit;
  }

  .work-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .work-list {
    display: flex;
    align-items: center;
  }

  .work-list-item {
    margin-right: 24px;
  }

  .work-list-item:last-child {
    margin-right: 0;
  }

  .team-list {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .team-member {
    margin-bottom: 0;
  }

  .team-member:nth-child(2) {
    margin-right: 24px;
  }

  .team-member:nth-child(4) {
    margin-right: 0;
  }

  .customers-item {
    margin-bottom: 0;
  }

  .customers-item:nth-child(3) {
    margin-right: 24px;
  }
  .customers-item:nth-child(6) {
    margin-right: 0;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: 1158px;
    flex-wrap: nowrap;
  }

  .footer-wrapper {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-thumb {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }

  .portfolio.section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio {
    display: flex;
    align-items: center;
  }

  .filter-list {
    max-width: none;
    margin-bottom: 72px;
  }

  .portfolio-item {
    margin-bottom: 48px;
  }

  .portfolio-item:nth-child(2n) {
    margin-right: 24px;
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-item:nth-child(5) {
    max-width: 360px;
  }

  .portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
